<mat-toolbar color="primary">
  <mat-icon>published_with_changes</mat-icon>
  
  <span class="app-title">Problem Solving Techs</span>
  
  <div class="user-inf" *ngIf="getIsAuthUser()">
    <span class="user">{{ getUserInformation() }}</span>
  </div>
  
  <div *ngIf="getIsAuthUser()">
    <button  mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateProfile()">
    <span>Edit Profile</span>
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-menu-item disabled>
    <span>Change Password</span>
    <mat-icon>key</mat-icon>
  </button>
  <button mat-menu-item disabled>
    <span>Settings</span>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-menu-item (click)="logout()">
    <span>Logout</span>
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>