mat-toolbar {
    display: flex;
    align-items: center;
}

span {
 margin-right: auto;
}

.app-title {
    font-size: 2.2rem;
    margin-left: 2rem;
}
.user {
    font-size: 1.6rem;
}

.user-inf {
    padding-right: 1rem;
}