.screen-container {
    margin: auto; 
    width: 60%;
}

.form-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
}

form {
    margin: auto;
    width: 50%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-top: 1rem;
}

.action-buttons {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

button {
    width: 45%;
}