<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened #sidenav>
    <mat-nav-list class="side-menu">
      <a mat-list-item *ngFor="let menuItem of menuItems;index as i"
        (click)="navigateComponent(i)"
        [style.background-color]="i === adminHomeState.data ? 'lightblue' : ''">
        {{ menuItem }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button  mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>