<div *ngIf="forgotPasswordFormState.loading">
    <loading></loading>
</div>

<div class="screen-container">
    <div class="form-title">
        {{ forgotPasswordFormState.title }}
    </div>

    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="user@pst.com" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>

        <div class="back-login">
            <a [routerLink]="'/auth/login'">Back To Login</a>
        </div>

        <button mat-flat-button color="primary" [disabled]="forgotPasswordForm.invalid" (click)="submit()">
            {{ submitButtonTitle }}
        </button>
    </form>
</div>