.screen-container {
    margin: auto; 
    width: 60%;
}

.form-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
}

form {
    margin: auto;
    width: 50%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

.back-login {
    align-self: flex-end;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}