/* You can add global styles to this file, and also import other style files */
:root {
    --max-width: 1100px;
}

html {
    font-size: 66%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto; 
    padding: 0 2rem; 
}